{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calificaciones</title>
    <link rel="stylesheet" href="{% static 'css/fin.css' %}">
</head>
<body>
    <section class="pantalla-calificacion">
        <h2>✅ Servicio Finalizado</h2>
        <p class="subtitulo">Califica tu experiencia</p>
        <div class="calificaciones-container">
          <!-- Cliente califica al técnico -->
          <div class="calificacion-box">
            <div class="estrellas">
              <input type="radio" id="c5" name="cliente" value="5"><label for="c5">★</label>
              <input type="radio" id="c4" name="cliente" value="4"><label for="c4">★</label>
              <input type="radio" id="c3" name="cliente" value="3"><label for="c3">★</label>
              <input type="radio" id="c2" name="cliente" value="2"><label for="c2">★</label>
              <input type="radio" id="c1" name="cliente" value="1"><label for="c1">★</label>
            </div>
            <textarea placeholder="Alguna observacion"></textarea>
            <a href="/experto/" class="btn-finalizar">Enviar y Volver al Inicio</a>
          </div>
      
        </div>
      </section>
      {% endblock content %}