{% extends "base.html" %}
{% load static %}

{% block content %}
</header>
<section class="normalizacion">
    
    <div class="normalizacion">
        <h1>Normalización</h1><br><br>
    </div>
</section>
<section style="text-align: center;">
    Se realizó la normalización minimizando las redundancias, eliminando grupos duplicados, dejando celdas con un solo valor, dependencias parciales y transitivas. <br>
</section>  <br><br>
<section class="Previsualizacion">
    <div class="Previsualizacion">
        <h1>Previsualización</h1>
        <div style="text-align: center;"> 
        <h3>(Dar clic en la imagen para descargar el archivo)</h3><br><br>
    </div>
    </div>
    <div style="text-align: center;"> 
        <a href="{% static 'excel/Normalizacion.xlsx' %}" download="Normalizacion.xlsx">
            <img src="{% static 'images/prev_normalizacion.png' %}" alt="Previsualizacion Normalización">
        </a>
    </div>
</section>
{% endblock content %}