{% extends "base.html" %}
{% load static %}
{% block content %}

    <h2>Script SQL de la Base de Datos DOIT</h2>
    <pre>

        create database DOIT;

        use Doit;
        
        
        create table Servicios (
            ID int primary key auto_increment comment "Identificador unico de servicios",
            NombreServicio varchar(50)not null comment "Nombre del servicio",
            Precio float not null comment "Precio del servicio",
            Ubicacion varchar(100)not null comment "Ubicacion del experto",
            Descripcion varchar(150)not null comment "Breve descripcion del servicio",
            Duracion varchar (50)not null comment " Duracion del servicio",
            idUsuario int not null comment "Un usuario puede tener muchos servicios",
            idCiudad int not null comment "Ciudad donde se ofrece el servicio",
            idCategorias int not null comment  "Categoria del servicio ofrecido", 
            idestado int not null comment " Estado del servicio ", 
            idPago int not null comment "Pago del servicio",
            foreign key (idUsuario) references Usuario(id),
            foreign key (idCiudad) references Ciudad(id),
            foreign key (idCategorias) references Categorias(id),
            foreign key (idestado) references Estado(id),
            foreign key (idPago) references Pagos(id)
        );
            
        alter table Servicios
            Comment = " Servicios que ofrecen los expertos";
        
            create table Categorias (
            ID int  primary key auto_increment comment "Identificador unico de categorias",
            Nombre varchar(50) not null comment "Nombre de la categoria"
        );
        
        alter table Categorias
            Comment = " Categorias de los servicios ofrecidos";
        
        
        create table Ciudad (
            ID int primary key auto_increment comment "Identificador unico de Ciudad",
            Nombre varchar (50) not null comment "Nombre de la ciudad",
            idPais int not null comment "Pais de la ciudad",
            foreign key (idPais) references Pais(id)
        );
        
        alter table Ciudad
            Comment = " Ciudades donde se ofrece el servicio";
        
        create table Pais  (
            ID int primary key auto_increment comment "Identificador unico de ciudad",
            Nombre varchar(50) not null comment "Nombre del pais"
            );
            
        alter table Pais
            Comment = " Pais donde se ofrece el servicio";
            
            
        create table Departamento (
            ID int primary key auto_increment comment "Identificador unico de departamento",
            Nombre varchar(50) not null comment "Nombre del departamento",
            idPais int not null comment "Un pais puede tener muchos departamentos",
            foreign key (idPais) references Pais(id)
        );
            
        alter table Departamento
            Comment = " departamento del pais";
        
        create table Usuario (
            ID int primary key auto_increment comment "Identificador unico de usuario",
            Nombres varchar(60)not null comment "Nombre del usuario",
            Apellidos varchar(60)not null comment "Apellidos del usuario",
            NombreUsuario varchar(100)not null comment "Nombre que eliga el usuario",
            Contraseña varchar (50)not null comment "Contraseña del usuario",
            Nacionalidad varchar (50) not null comment "nacionalidad del usuario",
            NumDoc int not null comment "Numero de documento del usuario",
            Email varchar(120)not null comment " Correo del usuario",
            Telefono Int not null comment " Telefono de contacto de usuario",
            FechaNacimiento date not null comment "Fecha de nacimiento del usuario",
            CorreoElectronico varchar (70) not null comment"Correo electronico del usuario",
            EvidenciaTrabajo varchar (150) not null comment "Evidencia de trabajo anterior del experto",
            ExperienciaTrabajo varchar (150) not null comment "Experiencia de trabajo del experto",
            HojaVida varchar (150) not null comment "Hoja de vida del experto",
            idGenero int not null comment "Genero del usuario",
            idTipoDoc int not null comment "Tipo de documento del usuario",
            idRol int   not null comment "Rol del usuario",
            foreign key (idGenero) references Genero(id),
            foreign key (idTipoDoc) references TipoDoc(id),
            foreign key (idRol) references Rol(id)
        );
        
        alter table Usuario
            Comment = " Tabla de datos del usuario";
        
        
        create table Rol (
            ID int primary key auto_increment comment "Identificador unico de rol",
            Nombre varchar (50) not null comment "Nombre del rol"
        );
        
        alter table Rol
            Comment = "Roles de los usuarios";
            
        create table Genero (
            ID int primary key auto_increment comment "Identificador unico de Genero",
            Nombre varchar (50) not null  comment "Nombre del genero"
        );
        
        alter table Genero
            Comment = "Genero de los usuarios";
        
        create table TipoDoc (
            ID int primary key auto_increment comment "Identificador unico de Tipo de documento",
            Nombre varchar (50) not null comment "Nombre del tipo de documento"
        );
        
        alter table TipoDoc
            Comment = " Tipos de documento ";
        
        create table Reserva (
            ID int primary key auto_increment comment "Identificador unico de reservas",
            Fecha date not null comment "Fecha de la reserva",
            Hora time not null comment "Hora de la reserva",
            idUsuario int not null comment "El usuario que hace una reserva",
            idEstado int not null comment "En que estado esta la reserva",
            idServicios int not null comment "Reserva de un servicio",
            foreign key (idUsuario) references Usuario(id),
            foreign key (idEstado) references Estado(id),
            foreign key (idServicios) references Servicios(id)
        );
        
        alter table Reserva
            Comment = " Tabla con la informacion de las reservas";
        
        create table Estado (
            ID int primary key auto_increment comment "Identificador unico de estado de la reserva",
            Nombre varchar (50) not null comment "Nombre de la reserva"
        );
        
        alter table Estado
            Comment = " Estado de la reserva";
        
        create table Profesion (
            ID int primary key auto_increment comment "Identificador unico de profesion",
            Nombre varchar(50)not null comment "nombre de la profesion",
            Descripcion varchar(100)not null comment " descripcion de la profesion",
            idUsuario int not null comment "Profesion del usuariio", 
            foreign key (idUsuario) references Usuario(id)
        );
        
        alter table Profesion
            Comment = " Tabla con las Profesiones y/o servicios ofrecidos";
        
        create table Pagos (
            ID int primary key auto_increment comment "Identificador unico de pagos",
            Monto Float(40)not null comment "Valor del servicio",
            Estado varchar(40)not null comment "Estado del pago",
            Fecha date not null comment "fecha de pago",
            idMetodo int not null comment " Metodo de pago",
            idestado int not null comment " Estado del servicio ", 
            foreign key (idMetodo) references Metodo(id),
            foreign key (idestado) references Estado(id)
        );
        
        alter table Pagos
            Comment = " Informacion de pagos";
        
        create table Metodo (
            ID int primary key auto_increment comment "Identificador unico de metodo de pago",
            Nombre varchar(100) not null comment "Nombre del metodo de pago"
        );
        
        alter table Metodo
            Comment = " Metodo de pago";
        
        create table Calificaciones (
            ID int primary key auto_increment comment "Identificador unico de Calificaciones",
            puntuacion varchar(50)not null comment"Puntuacion del servicio",
            Comentario varchar(50)not null comment "Comentario del servicio",
            Fecha date not null comment "Fecha del comentario",
            idUsuario int not null comment "Usuario al que recibe la calificacion",
            idServicios int not null comment "Un servicio puede tener muchas calificaciones",
            foreign key (idUsuario) references Usuario(id),
            foreign key (idServicios) references Servicios(id)
        );
        
        alter table Calificaciones
            Comment = " Calificacion del servicio";

    </pre>

{% endblock content %}